<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Message Wall</title>

  <!-- Bootstrap Core CSS -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/static/css/wall.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>

<!-- Page Content -->
<div class="container">
  <div class="row">

    <div class="col-xs-12 page-header">
      <h1>Message Wall Exercise</h1>
      <p class="lead">Send messages to our server and get updates here.</p>
    </div>

    <div class="col-lg-3">
      <h2>Send a Message</h2>
      <form role="form" id="message-form">
        <div class="form-group">
          <textarea class="form-control" name="m" id="message"
                    placeholder="Enter message"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      <p id="sent-result" class="alert alert-info"></p>
    </div>

    <div class="col-lg-9">
      <h2>The Message Wall</h2>

      <div class="panel panel-default">
        <div class="panel-heading">Messages:</div>
        <div class="panel-body">
          <ul class="list-group" id="message-container">
            <li class="list-group-item">Placeholder message #1</li>
            <li class="list-group-item">Placeholder message #2</li>
            <li class="list-group-item">Placeholder message #3</li>
            <li class="list-group-item">Placeholder message #4</li>
            <li class="list-group-item">Placeholder message #5</li>
            <li class="list-group-item">Placeholder message #6</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->

<script src="/static/js/jquery-1.11.0.js"></script> <!-- jQuery v1.11.0 -->
<script src="/static/js/bootstrap.min.js"></script> <!-- Bootstrap's JS -->
<script src="/static/js/wall.js"></script>          <!-- Message Wall JS -->

</body>

</html>
